<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
    </head>
    <body>
        <main class="centered">
            <h1><%= pupil.name.toUpperCase() %> <%= pupil.lastName.toUpperCase() %></h1>
            <hr>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Fathers Name</th>
                    <th>Mothers Name</th>
                    <th>Class</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td><%=pupil.name %></td>
                    <td><%=pupil.lastName %></td>
                    <td><%=pupil.birthday %></td>
                    <td><%=pupil.gender %></td>
                    <td><%=pupil.father %></td>
                    <td><%=pupil.mother %></td>
                    <td><%=classes.name.toUpperCase() %></td>
                    <td><a href="/users/edit/<%=pupil.id%>">Edit</a></td>
                    <td>
                      <form action="/pupil-delete" method="POST">
                          <input type="hidden" value="<%= pupil.id %>" name="pupilId">
                          <button class="btn" type="submit">Delete</button>
                      </form>
                    </td>
                    <td>
                        <form action="/grades">
                            <input type="hidden" name="pupilId" value="<%= pupil.id %>">
                            <button class="btn">Grade pupil</button>
                        </form>
                    </td>
                </tr>
            </table>
            <hr>
            <h1>Subjects and Grades</h1>
            <hr>
            <table border="1">
                <tr>
                    <th>S.N</th>
                    <th>Subject</th>
                    <th>Grades</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Details</th>
                </tr>
                
                <% if(subjects.length !== 0){ var i=1; subjects.forEach((subject)=>{ %>
                <tr>
                    <td><%=i; %></td>
                    <td><%=subject.name %></td>
                    <td>
                    <% grades.forEach((grade) => {%>
                       <%if(pupil.id === grade.pupilId && subject.id === grade.subjectId){ %>
                        <p>(<%= grade.grade%>)</p>
                        <% } %>
                    <%})%>
                    
                    </td>
                    <td>
                        <% let x = grades.reduce((total, grade) => {%>
                           <% if(pupil.id === grade.pupilId && subject.id === grade.subjectId){%>
                            <% return total + grade.grade %>
                            <% } %>
                            <% }, 0  )%>
                        <p>(<%= x %>)</p>
                    </td>
                    <td><a href="/users/edit/<%= subject.id %>">Edit</a></td>
                    <td> 
                      <form action="/subject-delete" method="POST">
                          <input type="hidden" value="<%= subject.id %>" name="subjectId">
                          <button class="btn" type="submit">Delete</button>
                      </form></td>
                    <td><a href="/subjects/<%= subject.id %>" class="btn">Details</a></td>
                </tr>
                <%  i++; }) %>
                <% } else { %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </table>
    </body>
</html>
