<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <head>
        <title>Fetch using MySQL and Node.js</title>
      </head>
      <body>
        <form class="form-control" action="/classes" method="POST">
            <div>
                <ul>
                    <li>
                        <input type="text" placeholder="name" name="name" value="<%= classes.name %>">
                    </li>
                </ul>
            </div>
            <button class="btn">Add Class</button>
          </form>
          <h1>Choose class</h1>
 
            <div> 

                <form action="/classes" >
                    <select name="schoolClass">
                        <% classes.forEach((schoolClass) => { %>
                                <option value="<%= schoolClass.id %>"><%= schoolClass.name %> </option>
                            
                        <% }); %>
                    </select>
                    <button type="submit" class="btn">Pretraži</button>
                </form>
                
            </div>
    

          <div class="table-data">
      <h2>List of all pupils</h2>
     
          <table border="1">
              <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Fathers Name</th>
                <th>Mothers Name</th>
                <th>School class</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Details</th>
              </tr>
              
              <%
              if(pupils.length!=0){
              var i=1;
              pupils.forEach((pupil)=>{
              %>
              
                  <% if(pupil.schoolClassId === schoolClass?.id){%><%%>
                    <tr>
                        <td><%=i; %></td>
                          <td><%=pupil.name %></td>
                          <td><%=pupil.lastName %></td>
                          <td><%=pupil.birthday %></td>
                          <td><%=pupil.gender %></td>
                          <td><%=pupil.father %></td>
                          <td><%=pupil.mother %></td>
                          <td><%=classes.id %></td>
                          <td><a href="/users/edit/<%=pupil.id%>">Edit</a></td>
                          <td>
                            <form action="/pupil-delete" method="POST">
                                <input type="hidden" value="<%= pupil.id %>" name="pupilId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                          </td>
                          <td><a href="/pupils/<%= pupil.id %>" class="btn">Details</a></td>
                      </tr>
                    <%}%>
                
             
              <%  i++; }) %>
              <% } else{ %>
                  <tr>
                      <td colspan="7">No Data Found</td>
                  </tr>
              <% } %>
          </table>
          </div>
      </body>
      </html>

<%- include('../includes/end.ejs') %>