<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<head>
    <title>Enter the teacher</title>
  </head>

<body>
    <%- include('../includes/navigation.ejs') %>
      <main class="centered">
        <body>
            <form class="form-control" action="/teacher-subject" method="POST">
                <div>
                    <ul>
                        <li>
                            <input type="text" placeholder="name" name="name" value="<%= teachers.name %>">
                        </li>
                        <li>
                            <input type="text" placeholder="last name" name="lastName" value="<%= teachers.lastName %>">
                        </li>
                        <li>
                            <input type="date" placeholder="birthday" name="birthday" value="<%= teachers.birthday %>">
                        </li>
                        <li>
                            <input type="text" placeholder="gender" name="gender" value="<%= teachers.gender %>">
                        </li>
                        <div>
                            <% if(subjects.length !== 0){ %> 
                            <label style="display: flex; border: 1px solid gray; text-align: center;">Choose subject</label>
                            <li> 
                                <select name="subject">
                                    <% subjects.forEach((subject) => { %>
                                        <option value="<%= subject.id %>"><%= subject.name %></option>
                                    <% }); %>
                                </select>
                            </li>
                        </div>
                        <% } else {%><label style="display: flex;color: red; border: 1px solid gray; text-align: center;">Please add subject first!</label><%} %> 
                    </ul>    
                </div>
                <button class="btn">Add </button>
              </form>
              
              <% if(teachers.length !==0){%>
                <div class="table-data">
                    <h2>List of all teachers</h2>
              
                        <table border="1">
                            <tr>
                                <th>S.N</th>
                                <th>Name</th>
                                <th>Last Name</th>
                                <th>Birthday</th>
                                <th>Gender</th>
                                <th>Subject</th>
                                <th>Headrom teacher of</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            
                            <%
                            if(teachers.length!=0){
                            var i=1;
                            teachers.forEach((teacher)=>{
                            %>
                            <tr>
                                <td><%=i; %></td>
                                <td><%=teacher.name %></td>
                                <td><%=teacher.lastName %></td>
                                <td><%=teacher.birthday %></td>
                                <td><%=teacher.gender %></td>
                                <td>
                               
                                  <% subjects.forEach((subject)=>{%>
                              
                                      <% teacherSubject.forEach((ts)=>{%>
                                          <% if(ts.teacherId === teacher.id && ts.subjectId === subject.id){%> 
                                              <p><%= subject.name%></p> 
                                          <%}%>
                                          <%})%>
                                  <%})%>
              
                                </td>
                                <td>                                 
                                    <% classes.forEach((schoolClass) => { %>
                                        <% if(teacher.id === schoolClass.teacherId){%>
                                            <p><%= schoolClass.name %></p><%}%>
                                    
                                    <% }); %>
                                  
                                </td>
                                <td><a class="btn" href="/teachers/edit/<%=teacher.id%>">Edit</a></td>
                                <td> 
                                  <form action="/teacher-delete" method="POST">
                                      <input type="hidden" value="<%= teacher.id %>" name="teacherId">
                                      <button class="btn" type="submit">Delete</button>
                                  </form></td>
                            </tr>
                            <%  i++; }) %>
                            <% } else{ %>
                                <tr>
                                    <td colspan="7">No Data Found</td>
                                </tr>
                            <% } %>
                        </table>
                        </div>
                <%}%>
             
          </body>
      </main>
      
      </html>
<%- include('../includes/end.ejs') %>